@font-face {
  font-family: "Grafitti";
  src: url("../fonts/AmanzingGrafiti-gxB63.ttf") format("truetype");
}
@font-face {
  font-family: "Grafitti2";
  src: url("../fonts/DocallismeOnStreet-ZVO1Z.otf") format("truetype");
}
@font-face {
  font-family: 'Dior';
  src: url("../fonts/OPTINaval.otf") format("truetype");
}
@font-face {
  font-family: 'Hellix';
  src: url("../fonts/Hellix-Light.woff") format("truetype");
}
@font-face {
  font-family: 'Olivera';
  src: url("../fonts/Olivera_Demo.ttf") format("truetype");
}
* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.header {
  padding: 10px;
  background-color: rgb(0, 0, 0);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  color: whitesmoke;
  position: fixed;
  width: 100%;
  z-index: 10;
  transition: top 0.3s ease;
}

.logoImage {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  letter-spacing: 2px;
  font-family: "Grafitti", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
  font-size: 40px;
}
.menu {
  display: flex;
}
.menu img {
  width: 30px;
  height: 30px;
  padding-left: 30px;
}

.tabs {
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 20px;
  padding-right: 30px;
}

.tabs img {
  width: 20px;
  height: 20px;
}
  

.search-area button {
  background-color: rgba(0, 0, 0, 0);
  border: 0px none;
}

.main-section {
  height: 100vh;
  width: 100%;
  background-color: rgb(0, 0, 0);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}

.release-zero-four,
.release-zero-five,
.release-zero-three {
  width: 90%;
  height: 100vh;
  position: relative;
  
}

.release-zero-four img,
.release-zero-three img,
.release-zero-five video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay-video {
  color: white;
  width: 100%;
  height: 100%;
  top: 0;
  position: absolute;
  justify-items: center;
  place-content: center;
  text-align: center;
  font-size: 40px;
  background-image: linear-gradient(to top, black, rgba(255, 255, 255, 0.064));
}


.overlay {
  color: white;
  width: 100%;
  height: 100%;
  top: 0;
  position: absolute;
  justify-items: center;
  place-content: end;
  background-image: linear-gradient(to top, black, rgba(255, 255, 255, 0.064));
}



.shop a {
  position: relative;
  font-size: 15px;
  text-decoration: none;
  color: aliceblue;
  display: inline-block;
  padding-bottom: 4px;
}

.shop a {
  position: relative;
  color: aliceblue;
  font-weight: bold;
  display: inline-block; 
  padding-bottom: 2px; 
}

.shop a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0; 
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.522);
  transform: scaleX(1);
  transform-origin: right;
  transition: transform 0.5s ease-in-out, width 0.5s ease-out;
}

.shop a:hover::after {
  transform: scaleX(0);
  height: 1px;
}


.shop a:hover {
  color: rgba(255, 255, 255, 0.69);
}

.hero-banner {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  padding-top: 70px;
  padding-bottom: 70px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  word-spacing: 2px;
  text-align: center;
}

.secondary-section {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  color: white;
  text-align: center;
  gap: 5px;
}

.secondary-section img {
  width: 100%;
  height: 100vh;
}

.secondary-overlay {
  justify-items: center;
  place-content: center;
  font-family: 'Hellix';
}

.secondary-overlay p {
  font-family:'Times New Roman', Times, serif;
  font-size: 50px;
}

.third-section{
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: rgb(0, 0, 0);
  justify-items: center;
  place-content: center;
  font-size: 5px;
}


.third-section img {
  width: 20%;
  height:80vh;
  background-color: black;
}

.fourth-section-container {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
  width: 100%;
  height: 120vh;
  background-color: black;
  color: white;
  font-family: 'Hellix';
}

.left-container {
  position: relative;
  height: 120vh;
  width: 100%;
  background-color: pink;
}

.left-container img {
  position:relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.left-container-overlay, .right-container-overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to top, black, rgba(255, 255, 255, 0));
  z-index: 50;
  place-content: center;
  justify-items: center;
}

.right-container {
  position: relative;
  background-color: aqua;
  height: 120vh;
  width: 100%;
}

.right-container video {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.right-container-overlay p, .left-container-overlay p {
  font-size: 50px;
}

footer {
  width: 100%;
  height: 100vh;
  background-color: black;
  place-content: end;
  justify-items: center;
}

.footer-container {
  width: 98%;
  height: 90%;
  background-color: rgb(0, 0, 0);
  border: 1px white solid;
  color: white;
  padding: 5px;
  overflow: hidden;
}

.mod-terms {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-left: 20px;
  margin-top: 20px;
  margin-right: 20px;
  border: 1px white solid;
  font-family: 'Hellix';
}

.mod-terms ul li {
  text-decoration: none;
  list-style: none;
}

.pick-up, .packaging, .return {
  margin: 10px;
  border-right: 2px red solid;
}

.details {
  color: red;
  font-size: 15px;
}